# MongoDB Connection String
MONGO_URI=your_mongodb_connection_string

# SuperAdmin Credentials
SUPERADMIN_EMAIL=superadminunhimas@gmail.com
SUPERADMIN_PASSWORD=a_strong_and_secret_password

# JWT Secret
JWT_SECRET=a_very_secret_jwt_secret
